{% extends 'navigation.html' %}
{% load static %}
{% block body %}

<div style="background-color: #737373; width: 100%; height: 100px; opacity: 0.4; font-family: times new roman;">
  <h2 class="text-white-container text-center pt-4" style="color: white; font-weight: bold; font-size: 50px; font-family: 'Monotype Corsiva';">About Us</h2>
  
</div>
<div class="cotainer pl-5 ml-5 mr-5 justify-content-center" style="font-family: times new roman;">
  <center><img src="{% static 'images/hello.png' %}" style=" width: 90%; height: 250px;"></center>
  <hr><p>We are happy to help you. We are the organization, provides different webproducts and softwares to make life easy. This is a notes sharing site which will help students and teachers to upload and download there notes easily. Also everyone can able to see all notes. Also they able to see how much notes they have uploaded.</p>
  <p>This website is Developed by:<br> <br>Mr. Mohammed Arshaduddin Ansari.<br>(Director, A M Technologies, Nanded)<br>Mr. Mohammed Muzaffaruddin.<br>
(CEO,A M Technologies, Nanded)
<br>Mr. Abdullah Ansari.
<br>(H.R.Manager, A M Technologies, Nanded)<br>
(Director,Designer's Hub, Nanded)</p>

  <p style="text-align:right;">Regarding A M Technologies</p>
</div>
<br><br>


{% endblock %}
