{% extends 'navigation.html' %}
{% load static %}
{% block body %}

<div style="background-color: green; width: 100%; height: 100px;">
  <h2 class="text-white-container text-center pt-4" style="color: white; font-weight: bold; font-size: 50px; font-family: 'Monotype Corsiva';">Contact Us</h2>
  </div>
<div class="cotainer mt-5 ml-5">
  <div class="row">
    <div class="col-sm-6">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d732.6093574180586!2d77.32010482914916!3d19.116035266344433!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zMTnCsDA2JzU3LjciTiA3N8KwMTknMTQuNCJF!5e1!3m2!1sen!2sin!4v1597590432680!5m2!1sen!2sin" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
    </div>
    <div class="col-sm-6 mt-5">
      <p><i class="fa fa-building text-danger" aria-hidden="true"></i><span class="text-danger">  Office Name:<br><u>A M &nbsp; T E C H N O L O G I E S</u></span></p>
    <p><i class="fa fa-address-card">  Address: N/D.42,Sambhaji Chowk, CIDCO Main road, CIDCO, Nanded-431603</i></p>
    <p><i class="fa fa-envelope" ></i>  Email Id:<a href="mailto:ansariarshaduddin@gmail.com"><br> ansariarshaduddin@gmail.com</a><br><a href="mailto:muzaffarm7@gmail.com">muzaffarm7@gmail.com</a></p>
    <p><i class="fa fa-phone-square">  Phone No: <br><a href="tel:+91 9049567217">9049567217</a><br><a href="tel:+91 8698779992">8698779992</a></i></p>
    <p><i  class="fa fa-clock-o" aria-hidden="true">  Office Hours: 10:00 AM to 5:00 PM</i></p>
    <p style="font-family: times new roman;">follow us on:</p>

    <a><i class="fa fa-whatsapp text-success">  Whatsapp:<br> <u> 9049567217 </u><br><u>8698779992</u></i></a>
    <a href="https://www.instagram.com/p/CEHocMMBlza/?utm_source=ig_web_copy_link"><i class="fa fa-instagram pl-5"><u>&nbspInstagram<br>Mohd. Arshad</u></i></a>
    <a href="https://instagram.com/muzaffaruddinmohammad?igshid=1lw82157ncz08"><i class="fa fa-instagram pl-5"><u>&nbspInstagram<br>Mohd. Muzaffar</u></i></a>
     <a href="https://www.youtube.com/channel/UC8ZjSR5kEzuuWPuHiCnDvcw"><i class="fa fa-play-circle pl-5 text-danger"><u>&nbspYoutube</u></i></a>
    </div>
  </div>
<br><br>

{% endblock %}
